/alvis_code/ProbVLM/datasets/
/alvis_code/ProbVLM/src/scripts/output_logs
/alvis_code/ProbVLM/src/slurm*
/alvis_code/ProbVLM/src/output_eval_slurm
/alvis_code/ProbVLM/src/output_train_slurm
/alvis_code/ProbVLM/src/output_edward_slurm
